{% extends "base.html" %}
{% block title %} Home {% endblock title%}
{% block content %}
    <!-- Left side - Personal Info -->
    <div class="w-1/2 bg-white rounded-lg shadow-lg p-6">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Profile</h2>
        <div class="flex flex-col items-center space-y-12">
        <img src="{{ url_for('static', filename='img/logo_black.png') }}" alt="Profile Picture" class="w-48 h-48 rounded-full border-4 border-gray-100 shadow-lg">
        </div>
        <div class="text-center mt-8 space-y-4">
        <h2 class="text-2xl font-bold bg-gradient-to-r from-yellow-400 to-pink-500 bg-clip-text text-transparent">{{ data['username'] }}</h2>
        <p class="italic text-gray-5004"> {{ data['message'] }} </p>
        <hr class="h-px bg-gray-200 border-1 dark:bg-gray-700">
        </div>
        <div class="flex justify-center items-center space-x-16 mt-8">
        <div class="text-center">
            <p class="text-gray-500">Solved</p>
            <p class="text-2xl font-bold"> {{ data['accepted_count'] }} </p>
        </div>
        <div class="h-10 border-l border-gray-300"></div>
        <div class="text-center">
            <p class="text-gray-500">Submissions</p>
            <p class="text-2xl font-bold"> {{ data['submission_count'] }} </p>
        </div>
        <div class="h-10 border-l border-gray-300"></div>
        <div class="text-center">
            <p class="text-gray-500">rating</p>
            <p class="text-2xl font-bold"> {{ data['rating'] }} </p>
        </div>
        </div>
        
    </div>

    <!-- Right side - Announcements -->
    <div class="w-1/2 bg-white rounded-lg shadow-lg p-6">
    <h2 class="text-2xl font-bold mb-4 text-gray-800">Announcements</h2>
    <div class="overflow-x-auto">
        <table class="min-w-full text-left table-auto">
        <thead class="bg-gray-100">
            <tr>
            <th class="px-6 py-3 text-gray-600 font-medium">TITLE</th>
            <th class="px-6 py-3 text-gray-600 font-medium">CREATE AT</th>
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            <tr>
            <td class="px-6 py-4">NOJ 主機狀況頁面</td>
            <td class="px-6 py-4">2023-12-05 03:09</td>
            </tr>
            <tr>
            <td class="px-6 py-4">主機硬碟擴充</td>
            <td class="px-6 py-4">2023-05-28 14:38</td>
            </tr>
            <tr>
            <td class="px-6 py-4">Updates about our service</td>
            <td class="px-6 py-4">2023-05-03 19:09</td>
            </tr>
            <tr>
            <td class="px-6 py-4">Problem Statistics is now online!</td>
            <td class="px-6 py-4">2022-03-28 07:32</td>
            </tr>
            <tr>
            <td class="px-6 py-4">編譯參數說明 Compiler Settings</td>
            <td class="px-6 py-4">2022-03-14 02:29</td>
            </tr>
            <tr>
            <td class="px-6 py-4">提交結果說明 Submission Status</td>
            <td class="px-6 py-4">2022-03-11 14:48</td>
            </tr>
            <tr>
            <td class="px-6 py-4">曾忘記密碼時……</td>
            <td class="px-6 py-4">2020-10-09 19:10</td>
            </tr>
        </tbody>
        </table>
    </div>
    </div>
{% endblock content %}
