<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon" / >
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% endblock head %}
</head>
<body class="bg-gray-100">

    <div class="min-h-screen flex">

        <!-- Left Sidebar (Navigation bar) -->
        <nav class="w-1/12 bg-amber-800 p-1 flex flex-col items-start justify-between">
            <div class="flex flex-col items-center space-y-4">
                <img src="{{ url_for('static', filename='img/logo_white.png') }}" alt="Logo" class="">
                
                <!-- Navigation items -->
                <ul class="space-y-6">
                    <li>
                        <a href="{{ url_for('user_api.index', userid=user.userid) }}" class="block flex flex-col items-center p-4 bg-amber-800 rounded-lg hover:bg-amber-700 transition duration-200">
                            <img src="{{ url_for('static', filename='img/home_white.png') }}" alt="Home Icon" class="w-12 h-12">
                            <span class="text-white text-sm mt-3">HOME</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="block flex flex-col items-center p-4 bg-amber-800 rounded-lg hover:bg-amber-700 transition duration-200">
                            <img src="{{ url_for('static', filename='img/problem_white.png') }}" alt="Problem Icon" class="w-12 h-12">
                            <span class="text-white text-sm mt-3">PROBLEM</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('course_api.index', userid=user.userid) }}" class="block flex flex-col items-center p-4 bg-amber-800 rounded-lg hover:bg-amber-700 transition duration-200">
                            <img src="{{ url_for('static', filename='img/course_white.png') }}" alt="Course Icon" class="w-12 h-12">
                            <span class="text-white text-sm mt-3">COURSE</span>
                        </a>
                    </li>
                    {% if user.role == 'admin' %}
                        <li>
                            <a href="#" class="block flex flex-col items-center p-4 bg-amber-800 rounded-lg hover:bg-amber-700 transition duration-200">
                                <img src="{{ url_for('static', filename='img/admin_white.png') }}" alt="Admin Icon" class="w-12 h-12">
                                <span class="text-white text-sm mt-3">ADMIN</span>
                            </a>
                        </li>
                    {% endif %}
                    <!--
                    <li>
                        <a href="#" class="block flex flex-col items-center p-4 bg-amber-800 rounded-lg hover:bg-amber-700 transition duration-200">
                            <img src="{{ url_for('static', filename='img/about_white.png') }}" alt="Course Icon" class="w-12 h-12">
                            <span class="text-white text-sm mt-3">ABOUT</span>
                        </a>
                    </li>
                    -->
                </ul>
            </div>

            <div class="flex flex-col items-center text-white text-sm space-y-2 mb-4 p-4">
                <a href="{{ url_for('logout') }}" class="bg-amber-800 hover:bg-amber-700 text-white font-bold py-2 lg:px-5 md:px-3 rounded border border-white transition duration-200 focus:outline-none focus:ring-2 focus:ring-white text-center">
                    Logout
                </a>
            </div>
        </nav>

        <!-- Content area -->
        <div class="w-11/12 p-6 flex space-x-6">
            {% block content %}
            {% endblock content %}
        </div>
    </div>

</body>
</html>
